extends ./../layouts/app.pug

block content
  h3 #{portfolio[0].title}
  div !{portfolio[0].body}
  .row
    h5 #{moment(portfolio[0].date)} |
    - let tags = portfolio[0].meta_keyword.split(", ")
    each tag in tags
      p= '#'+ tag
    span.right
      i.fa.fa-eye #{portfolio[0].views}
