extends ./../layouts/app.pug

block content
  each blog in blogs
    .list-blog
      h3
        a(href=`/blog/detail/${blog.slug}`)= blog.title
      div !{blog.body.substring(0, 300)}
      .row
        h5 #{moment(blog.date)} |
        - let tags = blog.meta_keyword.split(", ")
        each tag in tags
          p= '#'+ tag
        span.right
          i.fa.fa-eye #{blog.views}
      hr
