extends ./../layouts/app.pug

block content
  <!-- Modal -->
  div(id="modalPorfolio" class="modal fade" role="dialog")
    div.modal-dialog.modal-lg
      div(class="modal-content")
        div(class="modal-header")
          h4(class="modal-title") Portfolio
          button(type="button" class="close" data-dismiss="modal")
            span(aria-hidden="true") &times;
        form#formPorfolio
          div(class="modal-body")
            div(class="form-group")
              label Portfolio Title
              input(type="text" class="form-control" placeholder="Portfolio Title" name="title")
            div(class="form-group")
              label Portfolio Link
              input(type="text" class="form-control" placeholder="Portfolio Link" name="link")
            div(class="form-group")
              label Portfolio Body
              textarea(name="body" id="portfolio_body" class="form-control" placeholder="Portfolio Body")
            div(class="form-group")
              label Meta Tags
              input(type="text" class="form-control" placeholder="Add Some Tags..." name="meta_keyword")
              small(id="emailHelp" class="form-text text-muted") Pisahkan Dengan Koma
            div(class="form-group")
              label Meta Description
              input(type="text" class="form-control" placeholder="Add Meta Description..." name="meta_description")
            input(type="hidden")#id_portfolio
          div(class="modal-footer")
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
            button(type="button" class="btn btn-primary" id="savePorfolio") Save
            button(type="button" class="btn btn-primary d-none" id="updatePorfolio") Update
  br
  .card
    .card-header
      button(data-toggle="modal" data-target="#modalPorfolio").btn.btn-primary#add-portfolio
        i.fa.fa-plus Tambah Portfolio
    .card-body
      .table-responsive
        table.table
          tr
            th #
            th Title
            th Link
            th Description
            th Date Porfolio
            th Status
            th Action
          each portfolio, index in portfolios
            tr
              td= index+1
              td= portfolio.title
              td= portfolio.link
              td= portfolio.body.substring(0,60)
                  a(href=`portfolio/${portfolio.slug}`) ..detail
              td= portfolio.date
              td
                  if portfolio.status
                    button(data-status=`${false}` data-id=`${portfolio.id}`).btn.btn-sm.udpateStatus
                      span(data-status=`${false}` data-id=`${portfolio.id}`).badge.badge-success Active
                  else
                    button(data-status=`${true}` data-id=`${portfolio.id}`).btn.btn-sm.udpateStatus
                      span(data-status=`${true}` data-id=`${portfolio.id}`).badge.badge-danger Inactive
              td
                button(data-id=`${portfolio.id}`).btn.btn-sm.btn-info.detail-portfolio
                  i.fa.fa-pencil
                button(data-id=`${portfolio.id}`).btn.btn-sm.btn-info.delete-portfolio
                  i.fa.fa-trash

  block scripts
    script.
      $(document).ready(function() {
        function updateAllMessageForms()
        {
            for (instance in CKEDITOR.instances) {
                    CKEDITOR.instances[instance].updateElement()
            }
        }
        CKEDITOR.replace('portfolio_body')
        $(".udpateStatus").click((event) => {
          let status = $(event.target).data('status')
          $.ajax({
            url: '/sheenazienadmin/portfolio/status/' + $(event.target).data('id'),
            type: 'PUT',
            data: {
              status: status
            },
            success: (response) => {
              window.location = "/sheenazienadmin/portfolio"
            }
          })
        })
        $("#savePorfolio").on('click', function(event) {
        updateAllMessageForms()
          $.ajax({
            url: '/sheenazienadmin/portfolio',
            type: 'POST',
            data: $("#formPorfolio").serialize(),
            success: (data) => {
              window.location = "/sheenazienadmin/portfolio"
            }
          })
        });
        $("#add-portfolio").on('click', function(event) {
          $("input[name=title").val("")
          $("textarea[name=body").html("")
          $("input[name=meta_keyword").val("")
          $("input[name=meta_description").val("")
          $("input#id_portfolio").val("")
          $("#savePorfolio").removeClass('d-none')
          $("#updatePorfolio").addClass('d-none')
        });
        $("#updatePorfolio").on('click', function(event) {
          let id = $("#id_portfolio").val()
          $.ajax({
            url: '/sheenazienadmin/portfolio/' + id,
            type: 'PUT',
            data: $("#formPorfolio").serialize(),
            success: (data) => {
              window.location = "/sheenazienadmin/portfolio"
            }
          })
        });
        $(".delete-portfolio").each(function(index, el) {
          $(el).on('click', function(event) {
            $.ajax({
              url: '/sheenazienadmin/portfolio/' + $(this).data('id'),
              type: 'DELETE',
              success: (data) => {
                window.location = "/sheenazienadmin/portfolio"
              }
            })
          });
        });
        $(".detail-portfolio").each(function(index, el) {
          $(el).on('click', function(event) {
            $.ajax({
              url: '/sheenazienadmin/portfolio/' + $(this).data('id'),
              success: (data) => {
                $("input[name=title]").val(data.portfolio.title)
                $("input[name=link]").val(data.portfolio.link)
                $("textarea[name=body]").html(data.portfolio.body)
                $("input[name=meta_keyword]").val(data.portfolio.meta_keyword)
                $("input[name=meta_description]").val(data.portfolio.meta_description)
                $("input#id_portfolio").val(data.portfolio.id)
                $('#modalPorfolio').modal('show')
                $("#savePorfolio").addClass('d-none')
                $("#updatePorfolio").removeClass('d-none')
              }
            })
          });
        });
      });
